{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentParameters.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "namePrefix": { "value": "prx-fabric-dev" },
    "location": { "value": "eastus2" },
    "fabricSku": { "value": "F2" },
    "fabricAdminEmail": { "value": "admin@proximaintel.com" },
    "tags": {
      "value": {
        "managed_by": "bicep",
        "accelerator": "fabric-foundation",
        "environment": "dev"
      }
    }
  }
}
